
/* Issue 18 test */
.bg {
    background-color: #888888;
    background-color: #878a8a;
    background-color: #8a8787;
    background-color: #030303;
    background-color: #111111;
    background-color: #333333;
    background-color: #666666;
}
